@import 'tailwindcss' important;

@theme inline {
  /* Color utilities */
  --color-accentColor: var(--color-accentColor);
  --color-modalBackground: var(--color-modalBackground);
  --color-modalText: var(--color-modalText);
  --color-modalTextSecondary: var(--color-modalTextSecondary);
  --color-modalBackdrop: var(--color-modalBackdrop);
  --color-modalBorder: var(--color-modalBorder);
  --color-modalControlButtonBackgroundHover: var(--color-modalControlButtonBackgroundHover);
  --color-modalControlButtonText: var(--color-modalControlButtonText);

  --color-connectButtonBackground: var(--color-connectButtonBackground);
  --color-connectButtonInnerBackground: var(--color-connectButtonInnerBackground);
  --color-connectButtonText: var(--color-connectButtonText);

  --color-walletSelectItemBackground: var(--color-walletSelectItemBackground);
  --color-walletSelectItemBackgroundHover: var(--color-walletSelectItemBackgroundHover);
  --color-walletSelectItemText: var(--color-walletSelectItemText);

  --color-accountActionItemBackground: var(--color-accountActionItemBackground);
  --color-accountActionItemBackgroundHover: var(--color-accountActionItemBackgroundHover);
  --color-accountActionItemText: var(--color-accountActionItemText);

  --color-accountSelectItemBackground: var(--color-accountSelectItemBackground);
  --color-accountSelectItemBackgroundHover: var(--color-accountSelectItemBackgroundHover);
  --color-accountSelectItemText: var(--color-accountSelectItemText);

  --color-currentNetworkButtonBackground: var(--color-currentNetworkButtonBackground);
  --color-currentNetworkButtonText: var(--color-currentNetworkButtonText);

  --color-networkSelectItemBackground: var(--color-networkSelectItemBackground);
  --color-networkSelectItemBackgroundHover: var(--color-networkSelectItemBackgroundHover);
  --color-networkSelectItemText: var(--color-networkSelectItemText);

  --color-navigationButtonBackground: var(--color-navigationButtonBackground);
  --color-separatorLine: var(--color-separatorLine);
  --color-skeleton: var(--color-skeleton);

  --color-success: var(--color-success);
  --color-successForeground: var(--color-successForeground);
  --color-warning: var(--color-warning);
  --color-warningForeground: var(--color-warningForeground);
  --color-error: var(--color-error);
  --color-errorForeground: var(--color-errorForeground);
  --color-info: var(--color-info);
  --color-infoForeground: var(--color-infoForeground);

  /* Radius utilities */
  --radius-walletSelectItem: var(--radius-walletSelectItem);
  --radius-connectButton: var(--radius-connectButton);
  --radius-modalControlButton: var(--radius-modalControlButton);
  --radius-accountActionItem: var(--radius-accountActionItem);
  --radius-accountSelectItem: var(--radius-accountSelectItem);
  --radius-currentNetworkButton: var(--radius-currentNetworkButton);
  --radius-networkSelectItem: var(--radius-networkSelectItem);
  --radius-modal: var(--radius-modal);
  --radius-modalMobile: var(--radius-modalMobile);

  /* Shadow utilities */
  --shadow-button: var(--shadow-button);
  --shadow-modal: var(--shadow-modal);

  /* Blurs */
  --blur-modalOverlay: var(--blur-modalOverlay);

  /* Typography */
  --text-xs: 12px;
  --leading-xs: 16px;
  --text-sm: 14px;
  --leading-sm: 18px;
  --text-base: 16px;
  --leading-base: 20px;
  --text-lg: 18px;
  --leading-lg: 24px;

  /* Font Weights */
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Spacing */
  --spacing-1: 4px;
  --spacing-1\.5: 6px;
  --spacing-2: 8px;
  --spacing-2\.5: 10px;
  --spacing-3: 12px;
  --spacing-3\.5: 14px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;

  --font-body: var(--font-body);
}

@custom-variant light (&:where([data-theme=light], [data-theme=light] *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.luno-kit * {
  box-sizing: border-box;
}

/* Default Light Theme Variables */
:root {



  /* Fonts */
  --font-body: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  /* Radii */
  --radius-walletSelectItem: 6px;
  --radius-connectButton: 6px;
  --radius-modalControlButton: 6px;
  --radius-accountActionItem: 6px;
  --radius-accountSelectItem: 6px;
  --radius-currentNetworkButton: 6px;
  --radius-networkSelectItem: 6px;
  --radius-modal: 6px;
  --radius-modalMobile: 24px;

  /* Shadows */
  --shadow-button: 0px 2px 6px rgba(0,0,0,0.1);
  --shadow-modal: 0px 4px 16px rgba(0,0,0,0.3);

  /* Blurs */
  --blur-modalOverlay: blur(8px);
}

[data-theme="light"] {
 /* Light Theme Colors */
  --color-accentColor: #3385FF;
  --color-walletSelectItemBackground: rgba(0,0,0,0.035);
  --color-walletSelectItemBackgroundHover: rgba(0,0,0,0.08);
  --color-walletSelectItemText: #211F26;
  --color-connectButtonBackground: #F1EFF3;
  --color-connectButtonInnerBackground: rgba(0,0,0,0.06);
  --color-connectButtonText: #211F26;
  --color-accountActionItemBackground: rgba(0,0,0,0.035);
  --color-accountActionItemBackgroundHover: rgba(0,0,0,0.08);
  --color-accountActionItemText: #211F26;
  --color-accountSelectItemBackground: rgba(0,0,0,0.035);
  --color-accountSelectItemBackgroundHover: rgba(0,0,0,0.08);
  --color-accountSelectItemText: #211F26;
  --color-currentNetworkButtonBackground: #FFFFFF;
  --color-currentNetworkButtonText: #211F26;
  --color-networkSelectItemBackground: rgba(0,0,0,0.035);
  --color-networkSelectItemBackgroundHover: rgba(0,0,0,0.08);
  --color-networkSelectItemText: #211F26;
  --color-navigationButtonBackground: rgba(0,0,0,0.15);
  --color-separatorLine: rgba(0, 0, 0, 0.035);
  --color-modalBackground: #ffffff;
  --color-modalBackdrop: rgba(0, 0, 0, 0.3);
  --color-modalBorder: rgba(0, 0, 0, 0.035);
  --color-modalText: #25292E;
  --color-modalTextSecondary: rgba(60, 66, 66, 0.5);
  --color-modalControlButtonBackgroundHover: rgba(0,0,0,0.08);
  --color-modalControlButtonText: #6B7280;
  --color-success: #10b981;
  --color-successForeground: #ffffff;
  --color-warning: #f59e0b;
  --color-warningForeground: #ffffff;
  --color-error: #ef4444;
  --color-errorForeground: #ffffff;
  --color-info: #3b82f6;
  --color-infoForeground: #ffffff;
  --color-skeleton: rgba(0,0,0,0.08);
}

/* Dark Theme Variables */
[data-theme="dark"] {

  /* Dark Theme Colors */
  --color-accentColor: #8A6EAC;
  --color-walletSelectItemBackground: rgba(255,255,255,0.035);
  --color-walletSelectItemBackgroundHover: rgba(255,255,255,0.09);
  --color-walletSelectItemText: #FFFFFF;
  --color-connectButtonBackground: #4A4B51;
  --color-connectButtonInnerBackground: #3A3B43;
  --color-connectButtonText: #FFFFFF;
  --color-accountActionItemBackground: rgba(255,255,255,0.035);
  --color-accountActionItemBackgroundHover: rgba(255,255,255,0.09);
  --color-accountActionItemText: #FFFFFF;
  --color-accountSelectItemBackground: rgba(255,255,255,0.035);
  --color-accountSelectItemBackgroundHover: rgba(255,255,255,0.09);
  --color-accountSelectItemText: #FFFFFF;
  --color-currentNetworkButtonBackground: #4A4B51;
  --color-currentNetworkButtonText: #FFFFFF;
  --color-networkSelectItemBackground: rgba(255,255,255,0.035);
  --color-networkSelectItemBackgroundHover: rgba(255,255,255,0.09);
  --color-networkSelectItemText: #FFFFFF;
  --color-navigationButtonBackground: rgba(255,255,255,0.15);
  --color-separatorLine: rgba(74,75,88,0.75);
  --color-modalBackground: #3A3B43;
  --color-modalBackdrop: rgba(0, 0, 0, 0.6);
  --color-modalBorder:rgba(74,75,88,0.75);
  --color-modalText: #FFFFFF;
  --color-modalTextSecondary: rgba(255,255,255,0.5);
  --color-modalControlButtonBackgroundHover: rgba(255,255,255,0.09);
  --color-modalControlButtonText: #9CA3AF;
  --color-success: #10b981;
  --color-successForeground: #ffffff;
  --color-warning: #f59e0b;
  --color-warningForeground: #ffffff;
  --color-error: #ef4444;
  --color-errorForeground: #ffffff;
  --color-info: #3b82f6;
  --color-infoForeground: #ffffff;
  --color-skeleton: rgba(255,255,255,0.09);



  /* Radii */
  --radius-walletSelectItem: 6px;
  --radius-connectButton: 6px;
  --radius-modalControlButton: 6px;
  --radius-accountActionItem: 6px;
  --radius-accountSelectItem: 6px;
  --radius-currentNetworkButton: 6px;
  --radius-networkSelectItem: 6px;
  --radius-modal: 6px;
  --radius-modalMobile: 24px;

  /* Shadows */
  --shadow-button: 0px 2px 6px rgba(0, 0, 0, 0.1);
  --shadow-modal: 0px 4px 16px rgba(0, 0, 0, 0.3);

  /* Blurs */
  --blur-modalOverlay: blur(8px);
}

/* Loading Animation */
.loading {
  @apply pointer-events-none inline-block aspect-square bg-current align-middle;
  width: 1.5rem;
  mask-size: 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform-origin='center'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3' stroke-linecap='round'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 12 12' to='360 12 12' dur='2s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dasharray' values='0,150;42,150;42,150' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dashoffset' values='0;-16;-59' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.loading-spinner {
  mask-image: url("data:image/svg+xml,%3Csvg width='24' height='24' stroke='black' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cg transform-origin='center'%3E%3Ccircle cx='12' cy='12' r='9.5' fill='none' stroke-width='3' stroke-linecap='round'%3E%3CanimateTransform attributeName='transform' type='rotate' from='0 12 12' to='360 12 12' dur='2s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dasharray' values='0,150;42,150;42,150' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3Canimate attributeName='stroke-dashoffset' values='0;-16;-59' keyTimes='0;0.475;1' dur='1.5s' repeatCount='indefinite'/%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.luno-kit * {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  font-family: var(--font-body);
}

.luno-kit *::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

.luno-kit .chain-icon-text {
  font-family: ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: calc(100% * 0.8);
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%);
}

.status-dot-container {
  position: relative;
  display: flex;
  height: 10px;
  width: 10px;
}

.ping-animation {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-flex;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: var(--color-accentColor);
  opacity: 0.75;
  animation: ping 1.2s cubic-bezier(0, 0, 0.2, 1) infinite;
}

.status-dot {
  position: relative;
  display: inline-flex;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: var(--color-accentColor);
}

