@import 'tailwindcss' important;

@custom-variant light (&:where([data-theme=light], [data-theme=light] *));
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

.luno-kit * {
  box-sizing: border-box;
}

[data-theme='light'] {
  --color-primaryFont: #FFFFFF;
  --color-accentFont: #8A6EAC;
  --color-secondaryFont: rgba(60, 66, 66, 0.6);
  --color-modal-bg: white;
  --color-connectorItemBackground: #F0F0F0;
  --color-connectButtonBackground: #0E76FD;
  --shadow-connectButton: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --shadow-accountButton: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --color-deepBackground: #f6f6f6;
  --color-chainButton: #FFFFFF;

  --color-modalFont: #25292E;
  --color-modalLine: rgba(0, 0, 0, 0.06);

  --color-chainSelected: rgba(0,0,0,0.15);
}

[data-theme='dark'] {
  --color-primaryFont: #FFFFFF;
  --color-accentFont: #8A6EAC;
  --color-secondaryFont: rgba(255,255,255,0.5);
  --color-modal-bg: #3A3B43;
  --color-connectorItemBackground: #4A4B51;
  --color-connectButtonBackground: #4A4B51;
  --shadow-connectButton: 0px 4px 12px rgba(0, 0, 0, 0.1);
  --shadow-accountButton: 0px 5px 10px 0px rgba(0,0,0,0.1);
  --color-deepBackground: #3A3B43;
  --color-chainButton: #4A4B51;

  --color-modalFont: #FFFFFF;
  --color-modalLine: rgba(74,75,88,0.75);

  --color-chainSelected: rgba(0,0,0,0.15);
}

@theme inline {
  --spacing-1: 4px;
  --spacing-1\.5: 6px;
  --spacing-2: 8px;
  --spacing-2\.5: 10px;
  --spacing-3: 12px;
  --spacing-4: 16px;
  --spacing-5: 20px;
  --spacing-6: 24px;

  /* 文字尺寸和行高 */
  --text-sm: 14px;
  --leading-sm: 18px;
  --text-primary: 16px;
  --leading-primary: 20px;
  --text-lg: 18px;
  --leading-lg: 24px;
  --text-title: 18px;
  --leading-title: 24px;
  --text-secondary: 14px;
  --leading-secondary: 18px;
  --text-accent: 12px;
  --leading-accent: 18px;

  --shadow-primary: 0px 10px 20px 0px rgba(0,0,0,0.1);
  --radius-primary: 6px;
  --radius-sm: 4px;

  --color-primaryFont: var(--color-primaryFont);
  --color-accentFont: var(--color-accentFont);
  --color-secondaryFont: var(--color-secondaryFont);
  --color-modal-bg: var(--color-modal-bg);
  --color-connectorItemBackground: var(--color-connectorItemBackground);
  --color-connectButtonBackground: var(--color-connectButtonBackground);

  --shadow-connectButton: var(--shadow-connectButton);
  --shadow-accountButton: var(--shadow-accountButton);
  --color-deepBackground: var(--color-deepBackground);
  --color-chainButton: var(--color-chainButton);

  --color-modalBackdrop: rgba(0, 0, 0, 0.3);

  --color-modalFont: var(--color-modalFont);
  --color-modalLine: var(--color-modalLine);

  --color-chainSelected: var(--color-chainSelected);
}


.luno-kit .custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-modalLine) transparent;
}

.luno-kit .custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.luno-kit .custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.luno-kit .custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-modalLine);
  border-radius: 3px;
}

.luno-kit .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-secondaryFont);
}

.luno-kit .chain-icon-text {
  font-family: ui-rounded, "SF Pro Rounded", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  font-size: calc(100% * 0.9);
  line-height: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -52%); /* 稍微向上偏移2% */
}

.ripple-effect {
  position: relative;
  display: inline-block;
}

.ripple-effect::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-accentFont);
  border-radius: 50%;
  transform: translate(-50%, -50%);
  animation: ripple 1.5s ease-out infinite;
  opacity: 0;
}
